body {
  font-family: Verdana;
  background-color: #0f0f0f;
  color: white;
}

#header {
  padding-bottom: 30px;
}

#posts {
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

#send {
  max-width: 60vh;
  margin-left: auto;
  margin-right: auto;
}

#send > table {
  width: 100%;
}

textarea {
  border: 3px dotted white;
  font-size: 1.2rem;
  resize: none;
  width: 100%;
  max-width: 70vw;
}

#post_title {
  height: 1.5rem;
}

#post_text {
  height: 5rem;
}

#post_image {
  border: 3px dotted white;
  width: 100%;
  max-width: 70vw;
}

.user {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.profile_picture {
  width: 35px;
  height: auto;
  padding-right: 10px;
}

.title, .header-options, .username {
  color: white;
}

.title:hover, .header-options:hover, .username:hover {
  color: #444;
}

.username {
  text-decoration: none;
}

.date {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.post_image_wrapper {
  padding-top: 20px;
}

.post_image {
  max-width: 100%;
  width: auto;
  max-height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.commentbar {
  margin-top: 40px;
  margin-bottom: 10px;
}

.commentbar_text {
  color: #78787a;
  font-style: italic;
  text-decoration: none;
  text-decoration-line: underline;
  font-weight: 500;
}

.post > span {
  color: rgb(243, 243, 243);
}

hr {
  color: rgb(212, 212, 212);
}