#profile {
  display: flex;
  align-items: center;
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.profile_header {
  width: 90px;
  height: auto;
  margin-right: 3rem;
}