body {
  font-family: Verdana;
  background-color: #FBFBFB;
  color: #333;
}

.login-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  max-width: 70vw;
  width: 70vh;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom-width: 0.3vh;
  border-bottom-style: solid;
  border-bottom-color: #BBB;
  margin-bottom: 2rem;
}

input:focus {
  border-bottom-color: black;
}

.login-button {
  background-color: #DDD;
  max-width: 70vw;
  width: 70vh;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.register {
  color: black;
}

.register:hover {
  color: #444;
}

.error {
  color: red;
  padding-bottom: 1rem;
}